//variables
$website-width:1366px;
$content-width:1196px;
$cape-palliser: #A67744;
$beige: #F7F5E6;
$alabasterr: #F7F7F7;
$athen:#EEF3F4;
$athens-gray: #EEF2F4;
$siler-rust: #C6B9B6;
$oxfort-blue: #354E57;
$como: #547665;
$mischka: #D7CCDD;
$rangitoto: #2E2E22;
$logotext: #293D45;
$white: #FFFFFF;
$bordercolor:#956A53;
$font-family-nova:Proxima Nova;