.product-card{
    height: 462px;
    margin: 5px;
    color: $rangitoto;

    .product-img{
        height: 346px;
        padding: 15px 20px;
    
        background-color: $white;
        margin-bottom: 14px;
    }

    .product-title{
        font-size: 14px;
        font-weight: 900;       
    }

    .product-detail{
        font-size: 12px;
    }
    .product-price{
        font-size: 12px;
        margin-bottom: 12px;
    }
    .product-btn{
        background: transparent;
        text-align: center;
        font-size: 12px;
        border: 1px solid $oxfort-blue;
        height: 35px;
        padding: 5px;

        &:hover{
            background-color: $white;
        }
    }
    
    .old-price{
        text-decoration: line-through;
    }

    .new-price{
        color: $cape-palliser;
    }

}